.chat-message {
    display: flex;
    justify-content: space-between;

    .chat-message-datetime {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 0.3em;
    }

    .chat-message-datetime-value {
        font-family: $font-monospace;
        color: $text-pre-muted;
        letter-spacing: -1.4px;
        font-size: 13.5px;
    }

    .chat-message-datetime-separator {
        padding: 0 0.3em 0 0.4em;
    }

    .chat-message-datetime-icon {
        margin: 0 0.4em 0 0;
    }

    .chat-message-text {
        min-width: 50%;
    }
}