@import '../../styles';

.chat-content {
    height: 550px;
    max-height: 550px;
    overflow-x: hidden;
}

.chat-message {
    display: flex;
    justify-content: space-between;
}

.chat-message-datetime {
    font-family: $type-1;
    font-weight: 100;
    min-width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.chat-message-text {
    min-width: 50%;
}
