<div class="row">
    <div class="col-xl-12 grid-margin stretch-card">
        <div class="card card-map">
            <div class="card-body">
                <div class="mt-3 chat-content pre-scrollable style-1">
                    <div #chatMessage *ngFor="let message of messageList.slice().reverse();" class="pb-1 chat-message" id="chat-message-{{message.messageId}}">
                        <div *ngIf="message.player !== null" class="chat-message-text">
                            <span [innerHTML]="message.player.nickname | maniaplanetStyle"></span> : <span [innerHTML]="message.message | maniaplanetStyle"></span>
                        </div>
                        <div *ngIf="message.player === null" class="chat-message-text">
                            <span [innerHTML]="message.message | maniaplanetStyle"></span>
                        </div>
                        <div class="chat-message-datetime text-muted text-right">
                            <div class="chat-message-datetime-icon far fa-clock"></div>
                            <div class="chat-message-datetime-value">{{message.insertedOn | date:'dd/MM/yyyy'}}</div>
                            <div class="chat-message-datetime-separator">at</div>
                            <div class="chat-message-datetime-value">{{message.insertedOn | date:'HH:mm:ss'}}</div>
                        </div>
                    </div>
                </div>
                <form (ngSubmit)="onNgSubmit()">
                    <div class="form-group mt-5">
                        <div class="input-group">
                            <span class="input-group-addon bg-warning" id="chat-message-addon">
                                <i class="far fa-comment-alt"></i>
                            </span>
                            <input [(ngModel)]="messageForm.message" aria-describedby="chat-message-addon" aria-label="Type your message" class="form-control border-light chat-input" name="message" placeholder="Type your message" type="text"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
