@import '../../styles';

.chat-content {
    height: 550px;
    max-height: 550px;
    overflow-x: hidden;
}

.input-group i {
    padding: 0.48rem 0.2em 0 0.2em;
    font-size: 1.15em;
    color: $darkgray;
}

.chat-input {
    height: 2.5rem;
    font-size: 1.15em;
}