<div class="row">
    <div class="col-xl-5 grid-margin stretch-card">
        <div class="card card-map">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-cube text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <h3 class="text-right">Current map</h3>
                        <div class="fluid-container"></div>
                    </div>
                </div>
                <div class="mb-5 mt-3">
                    <h3 *ngIf="currentMap !== undefined" [innerHTML]="currentMap.name | maniaplanetStyle" class="font-weight-medium text-right mb-0"></h3>
                </div>
                <div class="current-map-statistics">
                    <div class="row mb-3 current-map-statistics-line">
                        <div class="col-4">
                            <i aria-hidden="true" class="fa fa-address-book mr-1 align-middle current-map-statistics-icon"></i>
                            <span class="current-map-statistics-key text-muted ml-1">Author</span>
                        </div>
                        <div *ngIf="currentMap !== undefined" [innerHTML]="currentMap.author.nickname | maniaplanetStyle" class="col-8 current-map-statistics-value"></div>
                    </div>
                    <div class="row mb-3 current-map-statistics-line">
                        <div class="col-4">
                            <i aria-hidden="true" class="fas fa-award mr-1 align-middle"></i>
                            <span class="current-map-statistics-key text-muted ml-1">Top 1 local</span>
                        </div>
                        <div *ngIf="getBestRecord() !== undefined" [innerHTML]="getBestRecord().player.nickname | maniaplanetStyle" class="col-8 current-map-statistics-value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 grid-margin stretch-card">
        <div class="card card-chat">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-receipt text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <h3 class="text-right">Player chat</h3>
                    </div>
                </div>
                <div class="mt-3 chat-content pre-scrollable style-1" id="dashboard-chat">
                    <div #chatMessage *ngFor="let message of messageList.slice().reverse();" class="pb-1 chat-message" id="chat-message-{{message.messageId}}">
                        <div *ngIf="message.player !== null" class="chat-message-text">
                            <span [innerHTML]="message.player.nickname | maniaplanetStyle"></span> : <span [innerHTML]="message.message | maniaplanetStyle"></span>
                        </div>
                        <div *ngIf="message.player === null" class="chat-message-text">
                            <span [innerHTML]="message.message | maniaplanetStyle"></span>
                        </div>
                        <div class="chat-message-datetime text-muted text-right">
                            <div class="chat-message-datetime-icon far fa-clock"></div>
                            <div class="chat-message-datetime-value">{{message.insertedOn | date:'dd/MM/yyyy'}}</div>
                            <div class="chat-message-datetime-separator">at</div>
                            <div class="chat-message-datetime-value">{{message.insertedOn | date:'HH:mm:ss'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-player-list">
            <div class="card-body">
                <h3>Online players</h3>
                <p *ngIf="onlinePlayerList.length == 0" class="text-muted mt-3 mb-0">
                    No player connected
                </p>
                <ul class="online-player-list">
                    <li *ngFor="let player of onlinePlayerList">
                        <span [innerHTML]="player.nickname | maniaplanetStyle"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card card-player-connection-day">
            <div class="card-body">
                <h3>Players connected today</h3>
                <p *ngIf="getPlayerConnectionDay().length == 0" class="text-muted mt-3 mb-0">
                    No player connected today
                </p>
                <ul class="player-connection-list">
                    <li *ngFor="let player of getPlayerConnectionDay()" class="player-connection-item row">
                        <div class="col-6">
                            <span [innerHTML]="player.nickname | maniaplanetStyle"></span>
                        </div>
                        <div class="col-6 text-muted player-connection-last-visit">
                            <div class="player-connection-last-visit-icon far fa-clock"></div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'dd/MM/yyyy'}}</div>
                            <div class="player-connection-last-visit-separator">at</div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'HH:mm:ss'}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card card-player-connection-week">
            <div class="card-body">
                <h3>Players connected this week</h3>
                <p *ngIf="getPlayerConnectionWeek().length == 0" class="text-muted mt-3 mb-0">
                    No player connected this week
                </p>
                <ul class="player-connection-list">
                    <li *ngFor="let player of getPlayerConnectionWeek()" class="player-connection-item row">
                        <div class="col-6">
                            <span [innerHTML]="player.nickname | maniaplanetStyle"></span>
                        </div>
                        <div class="col-6 text-muted player-connection-last-visit">
                            <div class="player-connection-last-visit-icon far fa-clock"></div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'dd/MM/yyyy'}}</div>
                            <div class="player-connection-last-visit-separator">at</div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'HH:mm:ss'}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 grid-margin stretch-card">
        <div class="card card-player-connection-month">
            <div class="card-body">
                <h3>Players connected this month</h3>
                <p *ngIf="getPlayerConnectionMonth().length == 0" class="text-muted mt-3 mb-0">
                    No player connected this month
                </p>
                <ul class="player-connection-list">
                    <li *ngFor="let player of getPlayerConnectionMonth()" class="player-connection-item row">
                        <div class="col-6">
                            <span [innerHTML]="player.nickname | maniaplanetStyle"></span>
                        </div>
                        <div class="col-6 text-muted player-connection-last-visit">
                            <div class="player-connection-last-visit-icon far fa-clock"></div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'dd/MM/yyyy'}}</div>
                            <div class="player-connection-last-visit-separator">at</div>
                            <div class="player-connection-last-visit-value">{{player.lastVisit | date:'HH:mm:ss'}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
