@import '../../styles';

.card-chat {
    .chat-content {
        height: 300px;
        overflow-x: hidden;
        font-size: 0.8rem;
    }
    .chat-message {
        display: flex;
        justify-content: space-between;
    }
    .chat-message-datetime {
        font-family: $type-1;
        font-weight: 100;
        min-width: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
    .chat-message-text {
        min-width: 50%;
    }
}

.card-player-list {
    .player-connection-list {
        font-size: 0.9rem;
    }
}

.player-connection-last-visit {
    font-family: $type-1;
    font-weight: 100;
    font-size: 0.7rem;
}

li.player-connection-item {
    justify-content: space-between;
    display: flex;
}

ul.player-connection-list {
    padding-left: 0;
}
